extends layout

block scripts
  link(rel="stylesheet", href="/static/css/dashboard.css")
  script(src="/static/js/dashboard.js")
  title Account Dashboard

block content

  div.ui.inverted.fixed.menu.navbar.page.grid#navbar
    a.brand.item(href="/") LoanR App
    a.item(href="/dashboard") Dashboard
    if user_role === "Borrower" 
      a.active.item(href="/borrower") Borrower
    else
      a.active.item(href="/lender") Lender
    div.right.menu
      a.item(href="/logout") Logout
  div.ui.menu.navbar.page.grid#dash-header
    h4.ui.header.white.icon
      i.circular.university.icon(style="display: inline-block;")
      h1(style="display: inline-block;") LoanR Dashboard
  
  div#content
    div.ui.four.column.grid
      div.column
        div.ui.teal.fluid.card
          div.content
            h1.ui.header 
              div.content 
                span#dash-balance $3000
              i.university.icon(style="display: inline; float: right;")
            h2.header Bank Balance
      div.column
        div.ui.red.fluid.card
          div.content
            h1.ui.header
              div.content
                span#dash-loans 7
              i.copy.icon(style="display: inline; float: right;")
            h2.header Active Loans
      div.column
        div.ui.blue.fluid.card
          div.content
            h1.ui.header 
              div.content 
                span#dash-months-left 3 
              i.calendar.icon(style="display: inline; float: right;")
            h2.header Months Left to Pay
      div.column
        div.ui.purple.fluid.card
          div.content
            h1.ui.header
              div.content
                span#dash-owe $500
              i.money.icon(style="display: inline; float: right;")
            h2.header Owed to Lenders







