extends layout

block scripts
  link(rel="stylesheet", href="/static/css/index.css")
  script(src="/static/js/index.js")
  title LoanR app

block content

  //
    div.ui.inverted.fixed.menu.navbar.page.grid#navbar
      a.brand.item LoanR App
      a.active.item Home
  div#content
    h1.ui.header.center.aligned.icon
      i.circular.money.icon
      span Welcome to LoanR
    div.column.center.aligned#login
      div.ui.form.segment
        div.field
          label Email Address
          div.ui.left.icon.input
            input#login-email(type="text", placeholder="Email Address")
            i.mail.icon
        div.field
          label Password
          div.ui.left.icon.input
            input#login-password(type="text", placeholder="Password")
            i.lock.icon
        div.ui.blue.submit.button#login-btn Login
        div.ui.green.button#login-register-btn Register
          
    
    div.ui.modal.transition#registration-modal
      div.header
        i.add.user.icon 
        span User Credentials
      div.content
        div.ui.form
          
          div.field
            label First Name
            div.ui.left.icon.input
              input#registration-first-name(type="text", placeholder="Your name")
              i.user.icon
          div.field 
            label Bank Account Number
            div.ui.left.icon.input
              input#registration-account(type="text", placeholder="Your bank account number")
              i.university.icon
          div.field
            label Email Address
            div.ui.left.icon.input
              input#registration-email(type="text", placeholder="example@example.com")
              i.mail.icon
          div.field
            label Password
            div.ui.left.icon.input
              input#registration-password(type="password", placeholder="Enter a password")
              i.lock.icon
          div.field
            label Confirm Password
            div.ui.left.icon.input
              input#registration-confirm-password(type="password", placeholder="Confirm your password")
              i.lock.icon
          div.two.fields
            div.field
              label Will you be a...
              div.ui.buttons
                div.ui.button#main-lender-btn Lender
                div.or
                div.ui.button#main-borrower-btn Borrower
            div.field
              div.ui.green.button.submit#registration-btn Register
