extends layout

block scripts
  link(rel="stylesheet", href="/static/css/index.css")
  script(src="/static/js/index.js")
  title loanR app

block content
  div.ui.inverted.fixed.menu.navbar.page.grid#navbar
    a.brand.item LoanR App
    a.active.item Home
  div#content
    h1.ui.header.center.aligned.icon
      i.circular.money.icon
      span Welcome to LoanR
    h3.ui.header.center.aligned Please select your role

    div.ui.stackable.very.relaxed.center.aligned.page.grid#main-btns
      div.ui.buttons
        div.ui.red.button#main-lender-btn Lender
        div.or
        div.ui.blue.button#main-loaner-btn Loaner
