html
  head
    script(src="/static/js/socket.io.min.js")
    script(src="/static/js/semantic.min.js")
    script(src="/static/js/universal.js")
    link(rel='stylesheet', href='/static/css/semantic.min.css', type='text/css')
    block scripts
  body
    block content

