extends layout

block scripts
  link(rel="stylesheet", href="/static/css/lender.css")
  script(src="/static/js/index.js")
  title Lender Page

block content

  div.ui.inverted.fixed.menu.navbar.page.grid#navbar
    a.brand.item LoanR App
    a.item Home
    a.active.item Lender



