extends layout

block scripts
  link(rel="stylesheet", href="/static/css/lender.css")
  script(src="/static/js/lender.js")
  title Lender Page

block content

  div.ui.inverted.fixed.menu.navbar.page.grid#navbar
    a.brand.item LoanR App
    a.item(href="/") Home
    a.active.item Lender

  div#content
    div.ui.segment
      div.ui.grid
        div.eight.wide.column#customer
          h1.ui.header 
            span#customer-name Alice
            div.sub.header#customer-sub Valued Customer
        div.eight.wide.column#balance
          div#balance-content
            div.ui.red.header#balance-loaning
              span Loaning: 
              span#customer-loaning $500
            div.ui.green.header#balance-balance
              span Balance: 
              span#customer-balance $1000
    h4.ui.horizontal.header.divider
      
      span Lender Account
    div.ui.grid
      div.four.wide.column#side
        div.ui.vertical.menu#sidemenu
          a.active.teal.item#sidemenu-create(data-target="content-create") Create Loan
          a.green.item#sidemenu-open(data-target="content-open") Open Loans
          a.blue.item#sidemenu-contracted(data-target="content-contracted") Contracted Loans
          a.red.item#sidemenu-closed(data-target="content-closed") Closed Loans
        div.ui.vertical.menu#sidemenu2
          a.yellow.item#sidemenu-all(data-target="content-all") View All Loan Wishes
          a.orange.item#sidemenu-search(data-target="content-search") Search Loan Wishes
      div.twelve.wide.column#content-box
        div.ui.segment#content-create
          div.ui.form#create-loan
            h1.ui.dividing 
              i.money.icon 
              span Create a Loan Offering
            div.ui.fitted.divider
            div.field
              label Total Loan Amount
              div.ui.left.icon.input
                input#create-loan-total(type="text", placeholder="Enter a loan amount")
                i.dollar.icon
            div.field
              label Interest Rate
              div.ui.left.icon.input
                input#create-loan-interest(type="text", placeholder="Enter an interest rate")
                i.world.icon
            div.field
              label Desired Monthly Payment
              div.ui.left.icon.input
                input#create-loan-monthly(type="text", placeholder="Enter a desired monthly payment")
                i.money.icon
            div.field
              div.ui.green.button.submit#create-loan-btn Submit Offering
        div.ui.segment#content-open
          h1.ui.dividing
            i.dollar.icon
            span Open Loans
          div.ui.fitted.divider
          table.ui.celled.striped.table
            thead
              tr
                th
                  i.dollar.icon
                  span Loan Amount
                th
                  i.money.icon
                  span Remaining Payment
                th
                  i.calendar.icon
                  span Remaining Months
                th
                  i.world.icon
                  span Interest Rate
                th
                  i.remove.bookmark.icon
                  span Action
            tbody#open-body
              
        div.ui.segment#content-contracted
          h1.ui.dividing
            i.book.icon
            span Contracted Loans
          div.ui.fitted.divider
          table.ui.celled.striped.table
            thead
              tr
                th
                  i.dollar.icon
                  span Loan Amount
                th
                  i.money.icon
                  span Remaining Payment
                th
                  i.calendar.icon
                  span Remaining Months
                th
                  i.world.icon
                  span Interest Rate
                th
                  i.bar.chart.icon
                  span Details
            tbody#contracted-body
        div.ui.segment#content-closed
          h1.ui.dividing
            i.history.icon
            span Closed Loans
          div.ui.fitted.divider
          table.ui.celled.striped.table
            thead
              tr
                th
                  i.dollar.icon
                  span Loan Amount
                th
                  i.money.icon
                  span Remaining Payment
                th
                  i.calendar.icon
                  span Remaining Months
                th
                  i.world.icon
                  span Interest Rate
                th
                  i.bar.chart.icon
                  span Details
            tbody#closed-body
        div.ui.segment#content-all
          h1.ui.dividing
            i.search.icon
            span All Loan Wishes
          div.ui.fitted.divider
          div.ui.card
            div.content
              div.header $1000 Loan Wish
                div.meta
                  span Interest Rate 5%
                p 12 month loan at $50 per month
                div.ui.blue.button.submit Offer a Loan
        div.ui.segment#content-search
          div.ui.form
            h1.ui.dividing
              i.search.icon
              span Search for Loan Wishes
            div.ui.fitted.divider
            div.field
              label Total Loan Amount
              div.ui.left.icon.input
                input#search-wish-total(type="text", placeholder="Enter a loan amount")
                i.dollar.icon
            div.field
              label Interest Rate
              div.ui.left.icon.input
                input#search-wish-interest(type="text", placeholder="Enter an interest rate")
                i.world.icon
            div.field
              label Desired Monthly Payment
              div.ui.left.icon.input
                input#search-wish-monthly(type="text", placeholder="Enter a desired monthly payment")
                i.money.icon
            div.field
              div.ui.blue.button.submit#search-wish-btn Search 
          
      
